apiVersion: batch/v1
kind: Job
metadata:
  name: collector-migration
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
spec:
  template:
    spec:
      containers:
      - name: migrate
        image: collector-migration:latest
      restartPolicy: Never
  backoffLimit: 3
