apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
spec:
  template:
    spec:
      containers:
        - name: frontend-service
          image: frontend-service:latest
          imagePullPolicy: Never
