apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-service
spec:
  template:
    spec:
      containers:
        - name: web-service
          image: web-service:latest
          imagePullPolicy: Never
