apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-cluster
spec:
  instances: 1
  storage:
    size: 1Gi
  bootstrap:
    initdb:
      database: foresee
      owner: foresee
      postInitApplicationSQLRefs:
        configMapRefs:
        - name: postgres-init-sql
          key: init.sql
